<div class="pg-tp">
    <i class="ion-cube"></i>
    <div class="pr-tp-inr">
        <h4>Button Styles</h4>
        <span>You can easily style a button or a link.</span>
    </div>
</div><!-- Page Top -->

<div class="panel-content">
    <div class="widget pad50-65">
        <div class="widget-title2">
            <h4>Default Buttons</h4>
            <span>Use these classes <code class="brd-rd5 green-clr">brd-rd5 brd-rd30 btn btn-secondary btn-danger btn-warning btn-success btn-info btn-outline-secondary btn-outline-danger btn-outline-warning btn-outline-success btn-outline-info</code> in <code>&lt;a&gt;</code> , <code>&lt;button&gt;</code> & <code>&lt;input&gt;</code> to quickly create a general button.</span>
        </div>
        <div class="btns-wrp">
            <div class="btns-list">
                <a href="#" title="" class="brd-rd30 btn btn-secondary">Default</a>
                <a href="#" title="" class="brd-rd30 btn btn-danger">Danger</a>
                <a href="#" title="" class="brd-rd30 btn btn-warning">Warning</a>
                <a href="#" title="" class="brd-rd30 btn btn-success">Success</a>
                <a href="#" title="" class="brd-rd30 btn btn-info">Info</a>
            </div>
            <div class="btns-list">
                <a href="#" title="" class="brd-rd5 btn btn-secondary">Default</a>
                <a href="#" title="" class="brd-rd5 btn btn-danger">Danger</a>
                <a href="#" title="" class="brd-rd5 btn btn-warning">Warning</a>
                <a href="#" title="" class="brd-rd5 btn btn-success">Success</a>
                <a href="#" title="" class="brd-rd5 btn btn-info">Info</a>
            </div>
            <div class="btns-list">
                <a href="#" title="" class="brd-rd5 btn btn-outline-secondary">Default</a>
                <a href="#" title="" class="brd-rd5 btn btn-outline-danger">Danger</a>
                <a href="#" title="" class="brd-rd5 btn btn-outline-warning">Warning</a>
                <a href="#" title="" class="brd-rd5 btn btn-outline-success">Success</a>
                <a href="#" title="" class="brd-rd5 btn btn-outline-info">Info</a>
            </div>
            <div class="btns-list">
                <a href="#" title="" class="brd-rd30 btn btn-outline-secondary">Default</a>
                <a href="#" title="" class="brd-rd30 btn btn-outline-danger">Danger</a>
                <a href="#" title="" class="brd-rd30 btn btn-outline-warning">Warning</a>
                <a href="#" title="" class="brd-rd30 btn btn-outline-success">Success</a>
                <a href="#" title="" class="brd-rd30 btn btn-outline-info">Info</a>
            </div>
        </div>
    </div>
    <div class="widget pad50-65">
        <div class="widget-title2">
            <h4>Button Sizes</h4>
            <span>Use any of the following classes: <code class="brd-rd5 green-clr">brd-rd5 brd-rd30 btn btn-drk btn-outline-drk btn-md btn-sm btn-xs</code></span>
        </div>
        <div class="btns-wrp">
            <div class="btns-list">
                <a href="#" title="" class="brd-rd30 btn btn-drk btn-lg">Large Button</a>
                <a href="#" title="" class="brd-rd30 btn btn-drk btn-md">Medium Button</a>
                <a href="#" title="" class="brd-rd30 btn btn-drk btn-sm">Small Button</a>
                <a href="#" title="" class="brd-rd30 btn btn-drk btn-xs">Extra Small Button</a>
            </div>
            <div class="btns-list">
                <a href="#" title="" class="brd-rd5 btn btn-drk btn-lg">Large Button</a>
                <a href="#" title="" class="brd-rd5 btn btn-drk btn-md">Medium Button</a>
                <a href="#" title="" class="brd-rd5 btn btn-drk btn-sm">Small Button</a>
                <a href="#" title="" class="brd-rd5 btn btn-drk btn-xs">Extra Small Button</a>
            </div>
            <div class="btns-list">
                <a href="#" title="" class="brd-rd5 btn btn-outline-drk btn-lg">Large Button</a>
                <a href="#" title="" class="brd-rd5 btn btn-outline-drk btn-md">Medium Button</a>
                <a href="#" title="" class="brd-rd5 btn btn-outline-drk btn-sm">Small Button</a>
                <a href="#" title="" class="brd-rd5 btn btn-outline-drk btn-xs">Extra Small Button</a>
            </div>
            <div class="btns-list">
                <a href="#" title="" class="brd-rd30 btn btn-outline-drk btn-lg">Large Button</a>
                <a href="#" title="" class="brd-rd30 btn btn-outline-drk btn-md">Medium Button</a>
                <a href="#" title="" class="brd-rd30 btn btn-outline-drk btn-sm">Small Button</a>
                <a href="#" title="" class="brd-rd30 btn btn-outline-drk btn-xs">Extra Small Button</a>
            </div>
        </div>
    </div>
    <div class="widget pad50-65">
        <div class="widget-title2">
            <h4>Icon Buttons</h4>
            <span>Just add <code>&lt;i&gt;</code> in <code>&lt;a&gt;</code> , <code>&lt;button&gt;</code> tag with icon name.</span>
        </div>
        <div class="btns-wrp">
            <div class="btns-list">
                <a href="#" title="" class="brd-rd30 btn btn-secondary"><i class="fa fa-home"></i> Default</a>
                <a href="#" title="" class="brd-rd30 btn btn-danger"><i class="ion-flash-off"></i> Danger</a>
                <a href="#" title="" class="brd-rd30 btn btn-warning"><i class="fa fa-exclamation"></i> Warning</a>
                <a href="#" title="" class="brd-rd30 btn btn-success"><i class="fa fa-check"></i> Success</a>
                <a href="#" title="" class="brd-rd30 btn btn-info"><i class="fa fa-info"></i> Info</a>
            </div>
            <div class="btns-list">
                <a href="#" title="" class="brd-rd5 btn btn-secondary"><i class="fa fa-home"></i> Default</a>
                <a href="#" title="" class="brd-rd5 btn btn-danger"><i class="ion-flash-off"></i> Danger</a>
                <a href="#" title="" class="brd-rd5 btn btn-warning"><i class="fa fa-exclamation"></i> Warning</a>
                <a href="#" title="" class="brd-rd5 btn btn-success"><i class="fa fa-check"></i> Success</a>
                <a href="#" title="" class="brd-rd5 btn btn-info"><i class="fa fa-info"></i> Info</a>
            </div>
            <div class="btns-list">
                <a href="#" title="" class="brd-rd5 btn btn-outline-secondary"><i class="fa fa-home"></i> Default</a>
                <a href="#" title="" class="brd-rd5 btn btn-outline-danger"><i class="ion-flash-off"></i> Danger</a>
                <a href="#" title="" class="brd-rd5 btn btn-outline-warning"><i class="fa fa-exclamation"></i> Warning</a>
                <a href="#" title="" class="brd-rd5 btn btn-outline-success"><i class="fa fa-check"></i> Success</a>
                <a href="#" title="" class="brd-rd5 btn btn-outline-info"><i class="fa fa-info"></i> Info</a>
            </div>
            <div class="btns-list">
                <a href="#" title="" class="brd-rd30 btn btn-outline-secondary"><i class="fa fa-home"></i> Default</a>
                <a href="#" title="" class="brd-rd30 btn btn-outline-danger"><i class="ion-flash-off"></i> Danger</a>
                <a href="#" title="" class="brd-rd30 btn btn-outline-warning"><i class="fa fa-exclamation"></i> Warning</a>
                <a href="#" title="" class="brd-rd30 btn btn-outline-success"><i class="fa fa-check"></i> Success</a>
                <a href="#" title="" class="brd-rd30 btn btn-outline-info"><i class="fa fa-info"></i> Info</a>
            </div>
        </div>
    </div>
    <div class="widget pad50-65">
        <div class="widget-title2">
            <h4>Social Media Buttons</h4>
            <span>Use these classes <code class="brd-rd5 green-clr">brd-rd5 brd-rd50 btn scl-btn</code> in <code>&lt;a&gt;</code> , <code>&lt;button&gt;</code> & <code>&lt;input&gt;</code> to quickly create a general button.</span>
        </div>
        <div class="btns-wrp">
            <div class="btns-list">
                <a href="#" title="" class="brd-rd30 btn scl-btn facebook"><i class="fa fa-facebook"></i> Facebook</a>
                <a href="#" title="" class="brd-rd30 btn scl-btn instagram"><i class="fa fa-instagram"></i> Instagram</a>
                <a href="#" title="" class="brd-rd30 btn scl-btn youtube"><i class="fa fa-youtube-play"></i> Youtube</a>
                <a href="#" title="" class="brd-rd30 btn scl-btn twitter"><i class="fa fa-twitter"></i> Twitter</a>
                <a href="#" title="" class="brd-rd30 btn scl-btn google"><i class="fa fa-google-plus"></i> Google Plus</a>
            </div>
            <div class="btns-list">
                <a href="#" title="" class="brd-rd50 btn scl-btn2 facebook"><i class="fa fa-facebook"></i></a>
                <a href="#" title="" class="brd-rd50 btn scl-btn2 instagram"><i class="fa fa-instagram"></i></a>
                <a href="#" title="" class="brd-rd50 btn scl-btn2 youtube"><i class="fa fa-youtube-play"></i></a>
                <a href="#" title="" class="brd-rd50 btn scl-btn2 twitter"><i class="fa fa-twitter"></i></a>
                <a href="#" title="" class="brd-rd50 btn scl-btn2 google"><i class="fa fa-google-plus"></i></a>
                <a href="#" title="" class="brd-rd50 btn scl-btn2 tumblr"><i class="fa fa-tumblr"></i></a>
                <a href="#" title="" class="brd-rd50 btn scl-btn2 skype"><i class="fa fa-skype"></i></a>
                <a href="#" title="" class="brd-rd50 btn scl-btn2 vimeo"><i class="fa fa-vimeo"></i></a>
                <a href="#" title="" class="brd-rd50 btn scl-btn2 github"><i class="fa fa-github"></i></a>
                <a href="#" title="" class="brd-rd50 btn scl-btn2 rss"><i class="fa fa-rss"></i></a>
            </div>
            <div class="btns-list">
                <a href="#" title="" class="brd-rd5 btn scl-btn2 facebook"><i class="fa fa-facebook"></i></a>
                <a href="#" title="" class="brd-rd5 btn scl-btn2 instagram"><i class="fa fa-instagram"></i></a>
                <a href="#" title="" class="brd-rd5 btn scl-btn2 youtube"><i class="fa fa-youtube-play"></i></a>
                <a href="#" title="" class="brd-rd5 btn scl-btn2 twitter"><i class="fa fa-twitter"></i></a>
                <a href="#" title="" class="brd-rd5 btn scl-btn2 google"><i class="fa fa-google-plus"></i></a>
                <a href="#" title="" class="brd-rd5 btn scl-btn2 tumblr"><i class="fa fa-tumblr"></i></a>
                <a href="#" title="" class="brd-rd5 btn scl-btn2 skype"><i class="fa fa-skype"></i></a>
                <a href="#" title="" class="brd-rd5 btn scl-btn2 vimeo"><i class="fa fa-vimeo"></i></a>
                <a href="#" title="" class="brd-rd5 btn scl-btn2 github"><i class="fa fa-github"></i></a>
                <a href="#" title="" class="brd-rd5 btn scl-btn2 rss"><i class="fa fa-rss"></i></a>
            </div>
            <div class="btns-list">
                <a href="#" title="" class="brd-rd5 btn scl-btn2 facebook-clr"><i class="fa fa-facebook"></i></a>
                <a href="#" title="" class="brd-rd5 btn scl-btn2 instagram-clr"><i class="fa fa-instagram"></i></a>
                <a href="#" title="" class="brd-rd5 btn scl-btn2 youtube-clr"><i class="fa fa-youtube-play"></i></a>
                <a href="#" title="" class="brd-rd5 btn scl-btn2 twitter-clr"><i class="fa fa-twitter"></i></a>
                <a href="#" title="" class="brd-rd5 btn scl-btn2 google-clr"><i class="fa fa-google-plus"></i></a>
                <a href="#" title="" class="brd-rd5 btn scl-btn2 tumblr-clr"><i class="fa fa-tumblr"></i></a>
                <a href="#" title="" class="brd-rd5 btn scl-btn2 skype-clr"><i class="fa fa-skype"></i></a>
                <a href="#" title="" class="brd-rd5 btn scl-btn2 vimeo-clr"><i class="fa fa-vimeo"></i></a>
                <a href="#" title="" class="brd-rd5 btn scl-btn2 github-clr"><i class="fa fa-github"></i></a>
                <a href="#" title="" class="brd-rd5 btn scl-btn2 rss-clr"><i class="fa fa-rss"></i></a>
            </div>
            <div class="btns-list">
                <a href="#" title="" class="brd-rd50 btn scl-btn2 facebook-clr"><i class="fa fa-facebook"></i></a>
                <a href="#" title="" class="brd-rd50 btn scl-btn2 instagram-clr"><i class="fa fa-instagram"></i></a>
                <a href="#" title="" class="brd-rd50 btn scl-btn2 youtube-clr"><i class="fa fa-youtube-play"></i></a>
                <a href="#" title="" class="brd-rd50 btn scl-btn2 twitter-clr"><i class="fa fa-twitter"></i></a>
                <a href="#" title="" class="brd-rd50 btn scl-btn2 google-clr"><i class="fa fa-google-plus"></i></a>
                <a href="#" title="" class="brd-rd50 btn scl-btn2 tumblr-clr"><i class="fa fa-tumblr"></i></a>
                <a href="#" title="" class="brd-rd50 btn scl-btn2 skype-clr"><i class="fa fa-skype"></i></a>
                <a href="#" title="" class="brd-rd50 btn scl-btn2 vimeo-clr"><i class="fa fa-vimeo"></i></a>
                <a href="#" title="" class="brd-rd50 btn scl-btn2 github-clr"><i class="fa fa-github"></i></a>
                <a href="#" title="" class="brd-rd50 btn scl-btn2 rss-clr"><i class="fa fa-rss"></i></a>
            </div>
            <div class="btns-list">
                <a href="#" title="" class="brd-rd5 btn scl-btn2 gry-bg"><i class="fa fa-facebook"></i></a>
                <a href="#" title="" class="brd-rd5 btn scl-btn2 gry-bg"><i class="fa fa-instagram"></i></a>
                <a href="#" title="" class="brd-rd5 btn scl-btn2 gry-bg"><i class="fa fa-youtube-play"></i></a>
                <a href="#" title="" class="brd-rd5 btn scl-btn2 gry-bg"><i class="fa fa-twitter"></i></a>
                <a href="#" title="" class="brd-rd5 btn scl-btn2 gry-bg"><i class="fa fa-google-plus"></i></a>
                <a href="#" title="" class="brd-rd5 btn scl-btn2 gry-bg"><i class="fa fa-tumblr"></i></a>
                <a href="#" title="" class="brd-rd5 btn scl-btn2 gry-bg"><i class="fa fa-skype"></i></a>
                <a href="#" title="" class="brd-rd5 btn scl-btn2 gry-bg"><i class="fa fa-vimeo"></i></a>
                <a href="#" title="" class="brd-rd5 btn scl-btn2 gry-bg"><i class="fa fa-github"></i></a>
                <a href="#" title="" class="brd-rd5 btn scl-btn2 gry-bg"><i class="fa fa-rss"></i></a>
            </div>
            <div class="btns-list">
                <a href="#" title="" class="brd-rd50 btn scl-btn2 gry-bg"><i class="fa fa-facebook"></i></a>
                <a href="#" title="" class="brd-rd50 btn scl-btn2 gry-bg"><i class="fa fa-instagram"></i></a>
                <a href="#" title="" class="brd-rd50 btn scl-btn2 gry-bg"><i class="fa fa-youtube-play"></i></a>
                <a href="#" title="" class="brd-rd50 btn scl-btn2 gry-bg"><i class="fa fa-twitter"></i></a>
                <a href="#" title="" class="brd-rd50 btn scl-btn2 gry-bg"><i class="fa fa-google-plus"></i></a>
                <a href="#" title="" class="brd-rd50 btn scl-btn2 gry-bg"><i class="fa fa-tumblr"></i></a>
                <a href="#" title="" class="brd-rd50 btn scl-btn2 gry-bg"><i class="fa fa-skype"></i></a>
                <a href="#" title="" class="brd-rd50 btn scl-btn2 gry-bg"><i class="fa fa-vimeo"></i></a>
                <a href="#" title="" class="brd-rd50 btn scl-btn2 gry-bg"><i class="fa fa-github"></i></a>
                <a href="#" title="" class="brd-rd50 btn scl-btn2 gry-bg"><i class="fa fa-rss"></i></a>
            </div>
            <div class="btns-list">
                <a href="#" title="" class="brd-rd5 btn scl-btn2 btn-drk"><i class="fa fa-facebook"></i></a>
                <a href="#" title="" class="brd-rd5 btn scl-btn2 btn-drk"><i class="fa fa-instagram"></i></a>
                <a href="#" title="" class="brd-rd5 btn scl-btn2 btn-drk"><i class="fa fa-youtube-play"></i></a>
                <a href="#" title="" class="brd-rd5 btn scl-btn2 btn-drk"><i class="fa fa-twitter"></i></a>
                <a href="#" title="" class="brd-rd5 btn scl-btn2 btn-drk"><i class="fa fa-google-plus"></i></a>
                <a href="#" title="" class="brd-rd5 btn scl-btn2 btn-drk"><i class="fa fa-tumblr"></i></a>
                <a href="#" title="" class="brd-rd5 btn scl-btn2 btn-drk"><i class="fa fa-skype"></i></a>
                <a href="#" title="" class="brd-rd5 btn scl-btn2 btn-drk"><i class="fa fa-vimeo"></i></a>
                <a href="#" title="" class="brd-rd5 btn scl-btn2 btn-drk"><i class="fa fa-github"></i></a>
                <a href="#" title="" class="brd-rd5 btn scl-btn2 btn-drk"><i class="fa fa-rss"></i></a>
            </div>
            <div class="btns-list">
                <a href="#" title="" class="brd-rd50 btn scl-btn2 btn-drk"><i class="fa fa-facebook"></i></a>
                <a href="#" title="" class="brd-rd50 btn scl-btn2 btn-drk"><i class="fa fa-instagram"></i></a>
                <a href="#" title="" class="brd-rd50 btn scl-btn2 btn-drk"><i class="fa fa-youtube-play"></i></a>
                <a href="#" title="" class="brd-rd50 btn scl-btn2 btn-drk"><i class="fa fa-twitter"></i></a>
                <a href="#" title="" class="brd-rd50 btn scl-btn2 btn-drk"><i class="fa fa-google-plus"></i></a>
                <a href="#" title="" class="brd-rd50 btn scl-btn2 btn-drk"><i class="fa fa-tumblr"></i></a>
                <a href="#" title="" class="brd-rd50 btn scl-btn2 btn-drk"><i class="fa fa-skype"></i></a>
                <a href="#" title="" class="brd-rd50 btn scl-btn2 btn-drk"><i class="fa fa-vimeo"></i></a>
                <a href="#" title="" class="brd-rd50 btn scl-btn2 btn-drk"><i class="fa fa-github"></i></a>
                <a href="#" title="" class="brd-rd50 btn scl-btn2 btn-drk"><i class="fa fa-rss"></i></a>
            </div>
            <div class="btns-list">
                <a href="#" title="" class="brd-rd50 btn scl-btn2 btn-outline-drk"><i class="fa fa-facebook"></i></a>
                <a href="#" title="" class="brd-rd50 btn scl-btn2 btn-outline-drk"><i class="fa fa-instagram"></i></a>
                <a href="#" title="" class="brd-rd50 btn scl-btn2 btn-outline-drk"><i class="fa fa-youtube-play"></i></a>
                <a href="#" title="" class="brd-rd50 btn scl-btn2 btn-outline-drk"><i class="fa fa-twitter"></i></a>
                <a href="#" title="" class="brd-rd50 btn scl-btn2 btn-outline-drk"><i class="fa fa-google-plus"></i></a>
                <a href="#" title="" class="brd-rd50 btn scl-btn2 btn-outline-drk"><i class="fa fa-tumblr"></i></a>
                <a href="#" title="" class="brd-rd50 btn scl-btn2 btn-outline-drk"><i class="fa fa-skype"></i></a>
                <a href="#" title="" class="brd-rd50 btn scl-btn2 btn-outline-drk"><i class="fa fa-vimeo"></i></a>
                <a href="#" title="" class="brd-rd50 btn scl-btn2 btn-outline-drk"><i class="fa fa-github"></i></a>
                <a href="#" title="" class="brd-rd50 btn scl-btn2 btn-outline-drk"><i class="fa fa-rss"></i></a>
            </div>
            <div class="btns-list">
                <a href="#" title="" class="brd-rd5 btn scl-btn2 btn-outline-drk"><i class="fa fa-facebook"></i></a>
                <a href="#" title="" class="brd-rd5 btn scl-btn2 btn-outline-drk"><i class="fa fa-instagram"></i></a>
                <a href="#" title="" class="brd-rd5 btn scl-btn2 btn-outline-drk"><i class="fa fa-youtube-play"></i></a>
                <a href="#" title="" class="brd-rd5 btn scl-btn2 btn-outline-drk"><i class="fa fa-twitter"></i></a>
                <a href="#" title="" class="brd-rd5 btn scl-btn2 btn-outline-drk"><i class="fa fa-google-plus"></i></a>
                <a href="#" title="" class="brd-rd5 btn scl-btn2 btn-outline-drk"><i class="fa fa-tumblr"></i></a>
                <a href="#" title="" class="brd-rd5 btn scl-btn2 btn-outline-drk"><i class="fa fa-skype"></i></a>
                <a href="#" title="" class="brd-rd5 btn scl-btn2 btn-outline-drk"><i class="fa fa-vimeo"></i></a>
                <a href="#" title="" class="brd-rd5 btn scl-btn2 btn-outline-drk"><i class="fa fa-github"></i></a>
                <a href="#" title="" class="brd-rd5 btn scl-btn2 btn-outline-drk"><i class="fa fa-rss"></i></a>
            </div>
        </div>
    </div>
    <div class="widget pad50-65">
        <div class="widget-title2">
            <h4>Checkbox Buttons Group</h4>
            <span>Use these classes</span>
        </div>
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-primary active">
                <input type="checkbox" checked autocomplete="off"> Checkbox 1
            </label>
            <label class="btn btn-primary">
                <input type="checkbox" autocomplete="off"> Checkbox 2
            </label>
            <label class="btn btn-primary">
                <input type="checkbox" autocomplete="off"> Checkbox 3
            </label>
        </div>
    </div>
    <div class="widget pad50-65">
        <div class="widget-title2">
            <h4>Radio Buttons Group</h4>
            <span>Use these classes</span>
        </div>
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-primary active">
                <input type="radio" name="options" id="option1" autocomplete="off" checked> Radio 1
            </label>
            <label class="btn btn-primary">
                <input type="radio" name="options" id="option2" autocomplete="off"> Radio 2
            </label>
            <label class="btn btn-primary">
                <input type="radio" name="options" id="option3" autocomplete="off"> Radio 3
            </label>
        </div>
    </div>
    <div class="widget pad50-65">
        <div class="widget-title2">
            <h4>Breadcrumb</h4>
            <span>Use these classes</span>
        </div>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#" title="">Home</a></li>
          <li class="breadcrumb-item"><a href="#" title="">Library</a></li>
          <li class="breadcrumb-item active">Data</li>
        </ol>
    </div>
</div><!-- Panel Content -->