<div class="pg-tp">
    <i class="ion-cube"></i>
    <div class="pr-tp-inr">
        <h4>Checkout Page</h4>
        <span>Some of extra awesome Checkout page.</span>
    </div>
</div><!-- Page Top -->

<div class="panel-content">
    <div class="widget pad50-65">
        <div class="widget-title2">
            <h4>Billing</h4>
            <span>Please fill out the form below to checkout.</span>
        </div>
        <form class="form-wrp">
            <div class="row mrg20">
                <div class="col-md-6 col-sm-6 col-lg-6">
                    <input class="brd-rd5" type="text" placeholder="First Name*" />
                </div>
                <div class="col-md-6 col-sm-6 col-lg-6">
                    <input class="brd-rd5" type="text" placeholder="Last Name*" />
                </div>
                <div class="col-md-12 col-sm-12 col-lg-12">
                    <input class="brd-rd5" type="text" placeholder="Company Name*" />
                </div>
                <div class="col-md-6 col-sm-6 col-lg-6">
                    <input class="brd-rd5" type="text" placeholder="Street Address*" />
                </div>
                <div class="col-md-6 col-sm-6 col-lg-6">
                    <input class="brd-rd5" type="text" placeholder="Street Address 2*" />
                </div>
                <div class="col-md-6 col-sm-6 col-lg-6">
                    <input class="brd-rd5" type="text" placeholder="Town/City*" />
                </div>
                <div class="col-md-6 col-sm-6 col-lg-6">
                    <div class="slct-bx">
                        <span>
                            <select>
                                <option>State*</option>
                                <option>State 1</option>
                                <option>State 2</option>
                                <option>State 3</option>
                            </select>
                        </span>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-lg-6">
                    <input class="brd-rd5" type="text" placeholder="Zip/Postal Code*" />
                </div>
                <div class="col-md-6 col-sm-6 col-lg-6">
                    <input class="brd-rd5" type="email" placeholder="Email Address*" />
                </div>
                <div class="col-md-12 col-sm-12 col-lg-12">
                    <div class="widget-title2">
                        <h4>Create An Account</h4>
                        <span>Create an account by entering the information below. If you are a returning customer please login at the top of the page.</span>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-lg-12">
                    <input class="brd-rd5" type="text" placeholder="Account Username*" />
                </div>
                <div class="col-md-6 col-sm-6 col-lg-6">
                    <input class="brd-rd5" type="password" placeholder="Password*" />
                </div>
                <div class="col-md-6 col-sm-6 col-lg-6">
                    <input class="brd-rd5" type="password" placeholder="Retype Password*" />
                </div>
                <div class="col-md-12 col-sm-12 col-lg-12">
                    <div class="widget-title2">
                        <h4>Shipping Address</h4>
                        <span>Please fill out the form below to checkout.</span>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-lg-12">
                    <input class="brd-rd5" type="text" placeholder="Coupon Code*" />
                </div>
                <div class="col-md-6 col-sm-6 col-lg-6">
                    <input class="brd-rd5" type="text" placeholder="First Name*" />
                </div>
                <div class="col-md-6 col-sm-6 col-lg-6">
                    <input class="brd-rd5" type="text" placeholder="Last Name*" />
                </div>
                <div class="col-md-6 col-sm-6 col-lg-6">
                    <input class="brd-rd5" type="text" placeholder="Street Address*" />
                </div>
                <div class="col-md-6 col-sm-6 col-lg-6">
                    <input class="brd-rd5" type="text" placeholder="Street Address 2*" />
                </div>
                <div class="col-md-6 col-sm-6 col-lg-6">
                    <input class="brd-rd5" type="text" placeholder="Town/City*" />
                </div>
                <div class="col-md-6 col-sm-6 col-lg-6">
                    <div class="slct-bx">
                        <span>
                            <select>
                                <option>State*</option>
                                <option>State 1</option>
                                <option>State 2</option>
                                <option>State 3</option>
                            </select>
                        </span>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-lg-6">
                    <input class="brd-rd5" type="text" placeholder="Zip/Postal Code*" />
                </div>
                <div class="col-md-6 col-sm-6 col-lg-6">
                    <input class="brd-rd5" type="email" placeholder="Email Address*" />
                </div>
                <div class="col-md-12 col-sm-12 col-lg-12">
                    <textarea class="brd-rd5" placeholder="Other Notes"></textarea>
                </div>
                <div class="col-md-12 col-sm-12 col-lg-12">
                    <div class="widget-title2">
                        <h4>Select Payment Method</h4>
                        <span>Please fill out the form below to checkout.</span>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-lg-12">
                    <div class="slct-bx">
                        <span>
                            <select>
                                <option>Select Payment Method*</option>
                                <option>Credit cards</option>
                                <option>Online bank transfers</option>
                                <option>Bank transfer</option>
                            </select>
                        </span>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-lg-12">
                    <ul class="prod-total brd-rd5">
                        <li class="tbl-hd"><span>Product Total</span></li>
                        <li><span>Cart Subtotal</span><span class="price">$580</span></li>
                        <li><span>Shipping</span><span class="price">Free Shipping</span></li>
                        <li><span>Order Total</span><span class="price">$580</span></li>
                    </ul>
                </div>
                <div class="col-md-12 col-sm-12 col-lg-12">
                    <button type="submit" class="brd-rd5 green-bg">Place Order</button>
                </div>
            </div>
        </form>
    </div>
</div><!-- Panel Content -->