<div class="pg-tp">
    <i class="ion-cube"></i>
    <div class="pr-tp-inr">
        <h4>Email Compose</h4>
        <span>Management of your emails.</span>
    </div>
</div><!-- Page Top -->

<div class="panel-content">
    <div class="widget pad0">
        <div class="mail-setting-wrp">
            <div class="row mrg">
                <div class="col-md-4 col-sm-6 col-lg-4">
                    <div class="mail-prf-opt">
                        <div class="mail-usr" style="background: url(images/usr-bg-img.jpg);">
                            <img class="brd-rd50" src="images/resource/prf-img1.jpg" alt="" />
                            <h3>John Smith</h3>
                            <span>Project Manager</span>
                        </div>
                        <div class="mail-prf-inr">
                            <a class="brd-rd5 green-bg" href="#" title=""><i class="fa fa-envelope-o"></i> Compose</a>
                            <div class="mail-opt">
                                <h3>Mailboxes</h3>
                                <ul>
                                    <li><a href="#" title=""><i class="fa fa-envelope-o"></i> Inbox <span class="green-clr">(5)</span></a></li>
                                    <li><a href="#" title=""><i class="fa fa-pencil-square-o"></i> Draft</a></li>
                                    <li><a href="#" title=""><i class="fa fa-star"></i> Starred</a></li>
                                    <li><a href="#" title=""><i class="fa fa-paper-plane"></i> Sent Messages</a></li>
                                    <li><a href="#" title=""><i class="fa fa-life-ring"></i> Spam</a></li>
                                    <li><a href="#" title=""><i class="fa fa-trash-o"></i> Delete</a></li>
                                </ul>
                            </div>
                            <div class="mail-opt">
                                <h3>Folders</h3>
                                <ul>
                                    <li><a href="#" title=""><i class="fa fa-folder-o"></i> Work</a></li>
                                    <li><a href="#" title=""><i class="fa fa-folder-o"></i> Personal</a></li>
                                </ul>
                            </div>
                            <div class="mail-opt">
                                <h3>Options</h3>
                                <ul>
                                    <li><a href="#" title=""><i class="fa fa-database"></i> Manage Folders</a></li>
                                    <li><a href="#" title=""><i class="fa fa-phone"></i> Contacts</a></li>
                                    <li><a href="#" title=""><i class="fa fa-cog"></i> Settings</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-sm-12 col-lg-8">
                    <div class="email-composer pad40">
                        <div class="widget-title2">
                            <h4>Compose Email</h4>
                            <span>Enter your details releated Emails.</span>
                        </div>
                        <form class="form-wrp">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-lg-12">
                                    <input class="brd-rd5" type="email" placeholder="To*" />
                                </div>
                                <div class="col-md-12 col-sm-12 col-lg-12">
                                    <input class="brd-rd5" type="email" placeholder="Cc" />
                                </div>
                                <div class="col-md-12 col-sm-12 col-lg-12">
                                    <input class="brd-rd5" type="email" placeholder="Bcc" />
                                </div>
                                <div class="col-md-12 col-sm-12 col-lg-12">
                                    <input class="brd-rd5" type="text" placeholder="Subject" />
                                </div>
                                <div class="col-md-12 col-sm-12 col-lg-12">
                                    <textarea class="brd-rd5" placeholder="Note"></textarea>
                                </div>
                                <div class="col-md-12 col-sm-12 col-lg-12">
                                    <div class="file-upload-box">
                                        <strong>File Attach:</strong>
                                        <div class="file-box">
                                            <label class="fileContainer">
                                                <span class="blue-bg brd-rd5">Browse</span>
                                                No File Selected.
                                                <input type="file" />
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-lg-12">
                                    <button class="brd-rd5 green-bg" type="submit"><i class="fa fa-paper-plane"></i> Send Email</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- Panel Content -->