<div class="pg-tp">
    <i class="ion-cube"></i>
    <div class="pr-tp-inr">
        <h4>Form Layouts</h4>
        <span>Some of extra awesome Form Layout.</span>
    </div>
</div><!-- Page Top -->

<div class="panel-content">
    <div class="widget pad50-65">
        <div class="widget-title2">
            <h4>Simple Form</h4>
            <span>Please fill out the form below Form elements.</span>
        </div>
        <form class="form-wrp">
            <div class="row mrg20">
                <div class="col-md-6 col-sm-6 col-lg-6">
                    <input class="brd-rd5" type="text" placeholder="First Name*" />
                </div>
                <div class="col-md-6 col-sm-6 col-lg-6">
                    <input class="brd-rd5" type="text" placeholder="Last Name*" />
                </div>
                <div class="col-md-12 col-sm-12 col-lg-12">
                    <input class="brd-rd5" type="text" placeholder="Company Name*" />
                </div>
                <div class="col-md-6 col-sm-6 col-lg-6">
                    <input class="brd-rd5" type="text" placeholder="Street Address*" />
                </div>
                <div class="col-md-6 col-sm-6 col-lg-6">
                    <input class="brd-rd5" type="text" placeholder="Street Address 2*" />
                </div>
                <div class="col-md-6 col-sm-6 col-lg-6">
                    <input class="brd-rd5" type="text" placeholder="Town/City*" />
                </div>
                <div class="col-md-6 col-sm-6 col-lg-6">
                    <div class="slct-bx">
                        <span>
                            <select>
                                <option>State*</option>
                                <option>State 1</option>
                                <option>State 2</option>
                                <option>State 3</option>
                            </select>
                        </span>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-lg-6">
                    <input class="brd-rd5" type="text" placeholder="Zip/Postal Code*" />
                </div>
                <div class="col-md-6 col-sm-6 col-lg-6">
                    <input class="brd-rd5" type="email" placeholder="Email Address*" />
                </div>
                <div class="col-md-12 col-sm-12 col-lg-12">
                    <div class="gender-box">
                        <strong>Gender</strong>
                        <span class="rdio-bx">
                            <input type="radio" name="gender" id="male1" />
                            <label for="male1">Male</label>
                        </span>
                        <span class="rdio-bx">
                            <input type="radio" name="gender" id="female1" />
                            <label for="female1">Female</label>
                        </span>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-lg-12">
                    <div class="file-upload-box">
                        <strong>File Input:</strong>
                        <div class="file-box">
                            <label class="fileContainer">
                                <span class="blue-bg brd-rd5">Browse</span>
                                No File Selected.
                                <input type="file" />
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-lg-12">
                    <button class="green-bg brd-rd5" type="submit"><i class="fa fa-paper-plane"></i> Registration Completed</button>
                </div>
            </div>
        </form>
    </div>
    <div class="widget pad50-65">
        <div class="widget-title2">
            <h4>Trendy Form</h4>
            <span>Please fill out the form below Form elements.</span>
        </div>
        <form class="form-wrp">
            <div class="row mrg20">
                <div class="col-md-6 col-sm-6 col-lg-6">
                    <input class="brd-rd30" type="text" placeholder="First Name*" />
                </div>
                <div class="col-md-6 col-sm-6 col-lg-6">
                    <input class="brd-rd30" type="text" placeholder="Last Name*" />
                </div>
                <div class="col-md-12 col-sm-12 col-lg-12">
                    <input class="brd-rd30" type="text" placeholder="Company Name*" />
                </div>
                <div class="col-md-6 col-sm-6 col-lg-6">
                    <input class="brd-rd30" type="text" placeholder="Street Address*" />
                </div>
                <div class="col-md-6 col-sm-6 col-lg-6">
                    <input class="brd-rd30" type="text" placeholder="Street Address 2*" />
                </div>
                <div class="col-md-6 col-sm-6 col-lg-6">
                    <input class="brd-rd30" type="text" placeholder="Town/City*" />
                </div>
                <div class="col-md-6 col-sm-6 col-lg-6">
                    <div class="slct-bx brd-rd30">
                        <span>
                            <select>
                                <option>State*</option>
                                <option>State 1</option>
                                <option>State 2</option>
                                <option>State 3</option>
                            </select>
                        </span>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-lg-6">
                    <input class="brd-rd30" type="text" placeholder="Zip/Postal Code*" />
                </div>
                <div class="col-md-6 col-sm-6 col-lg-6">
                    <input class="brd-rd30" type="email" placeholder="Email Address*" />
                </div>
                <div class="col-md-12 col-sm-12 col-lg-12">
                    <div class="gender-box">
                        <strong>Gender</strong>
                        <span class="rdio-bx">
                            <input type="radio" name="gender" id="male2" />
                            <label for="male2">Male</label>
                        </span>
                        <span class="rdio-bx">
                            <input type="radio" name="gender" id="female2" />
                            <label for="female2">Female</label>
                        </span>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-lg-12">
                    <div class="file-upload-box">
                        <strong>File Input:</strong>
                        <div class="file-box">
                            <label class="fileContainer">
                                <span class="blue-bg brd-rd5">Browse</span>
                                No File Selected.
                                <input type="file" />
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-lg-12">
                    <button class="green-bg brd-rd5" type="submit"><i class="fa fa-paper-plane"></i> Registration Completed</button>
                </div>
            </div>
        </form>
    </div>
</div><!-- Panel Content -->