<div class="pg-tp">
    <i class="ion-cube"></i>
    <div class="pr-tp-inr">
        <h4>Grid System</h4>
        <span>Management of Bootstrap Grid System.</span>
    </div>
</div><!-- Page Top -->

<div class="panel-content">
    <div class="row mrg20">
        <div class="col-md-12 col-sm-12 col-lg-12">
            <div class="widget grd pad50-65">
                <h4>Paragraphs</h4>
                <span>This is the style of Default Paragraphs</span>
                <p>Potenti elit lectus augue eget iaculis vitae etiam, ullamcorper etiam bibendum ad feugiat magna accumsan dolor, nibh molestie cras hac ac ad massa, fusce ante convallis ante urna molestie vulputate bibendum tempus ante justo arcu erat accumsan adipiscing risus, libero condiment um venenatis sit nisl nisi ultricies sed, fames aliquet consectetur consequat nostra molestie neque nullam scelerisque neque commodo turpis quisque etiam egestas vulputate massa, curabitur tellus massa venenatis congue dolor enim integer luctus, nisi suscipit gravida fames quis vul putate nisi viverra luctus id leo dictum lorem, inceptos nibh orci.</p>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-lg-6">
            <div class="widget grd pad50">
                <h4>Paragraphs</h4>
                <span>This is the style of Default Paragraphs</span>
                <p>Potenti elit lectus augue eget iaculis vitae etiam, ullamcorpe massa, fusce ante convallis ante urna molestie vulputate bi um venenatis sit nisl nisi ultricies sed, fames aliquet consec quisque etiam egestas vulputate massa, curabitur tellus ma putate nisi viverra luctus id leo.</p>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-lg-6">
            <div class="widget grd pad50">
                <h4>Paragraphs</h4>
                <span>This is the style of Default Paragraphs</span>
                <p>Potenti elit lectus augue eget iaculis vitae etiam, ullamcorpe massa, fusce ante convallis ante urna molestie vulputate bi um venenatis sit nisl nisi ultricies sed, fames aliquet consec quisque etiam egestas vulputate massa, curabitur tellus ma putate nisi viverra luctus id leo.</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-lg-4">
            <div class="widget grd pad50-40">
                <h4>Paragraphs</h4>
                <span>Style of Default Paragraphs</span>
                <p>Potenti elit lectus augue eget ia massa, fusce ante convallis ante um venenatis sit nisl nisi ultricie quisque etiam egestas vulputat putate nisi viverra.</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-lg-4">
            <div class="widget grd pad50-40">
                <h4>Paragraphs</h4>
                <span>Style of Default Paragraphs</span>
                <p>Potenti elit lectus augue eget ia massa, fusce ante convallis ante um venenatis sit nisl nisi ultricie quisque etiam egestas vulputat putate nisi viverra.</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-lg-4">
            <div class="widget grd pad50-40">
                <h4>Paragraphs</h4>
                <span>Style of Default Paragraphs</span>
                <p>Potenti elit lectus augue eget ia massa, fusce ante convallis ante um venenatis sit nisl nisi ultricie quisque etiam egestas vulputat putate nisi viverra.</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-lg-3">
            <div class="widget grd pad30-25">
                <h4>Paragraphs</h4>
                <span>Style of Default Paragraphs</span>
                <p>Potenti elit lectus augue eget ia massa, fusce ante convallis ante um venenatis sit nisl nisi ultricie.</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-lg-3">
            <div class="widget grd pad30-25">
                <h4>Paragraphs</h4>
                <span>Style of Default Paragraphs</span>
                <p>Potenti elit lectus augue eget ia massa, fusce ante convallis ante um venenatis sit nisl nisi ultricie.</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-lg-3">
            <div class="widget grd pad30-25">
                <h4>Paragraphs</h4>
                <span>Style of Default Paragraphs</span>
                <p>Potenti elit lectus augue eget ia massa, fusce ante convallis ante um venenatis sit nisl nisi ultricie.</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-lg-3">
            <div class="widget grd pad30-25">
                <h4>Paragraphs</h4>
                <span>Style of Default Paragraphs</span>
                <p>Potenti elit lectus augue eget ia massa, fusce ante convallis ante um venenatis sit nisl nisi ultricie.</p>
            </div>
        </div>        
        <div class="col-md-4 col-sm-12 col-lg-4">
            <div class="widget grd pad50-40">
                <h4>Paragraphs</h4>
                <span>Style of Default Paragraphs</span>
                <p>Potenti elit lectus augue eget ia massa, fusce ante convallis ante um venenatis sit nisl nisi ultricie quisque etiam egestas vulputat putate nisi viverra.</p>
            </div>
        </div>
        <div class="col-md-8 col-sm-12 col-lg-8">
            <div class="widget grd pad50">
                <h4>Paragraphs</h4>
                <span>This is the style of Default Paragraphs</span>
                <p>Potenti elit lectus augue eget iaculis vitae etiam, ullamcorper etiam bibendum ad feugiat magna accumsan dolor, nibh molestie cras hac ac ad massa, fusce ante convallis ante urna molestie vulputate bibendum tempus ante justo arcu erat accumsan adipiscing risus, libero condiment um venenatis sit nisl nisi ultricies sed, fames aliquet consectetur consequat nostra molestie neque nullam scelerisque neque commodo turpis quis.</p>
            </div>
        </div>        
        <div class="col-md-4 col-sm-12 col-lg-3">
            <div class="widget grd pad50-40">
                <h4>Paragraphs</h4>
                <span>Style of Default Paragraphs</span>
                <p>Potenti elit lectus augue eget ia massa, fusce ante convallis ante um venenatis sit nisl nisi.</p>
            </div>
        </div>
        <div class="col-md-9 col-sm-12 col-lg-9">
            <div class="widget grd pad50">
                <h4>Paragraphs</h4>
                <span>This is the style of Default Paragraphs</span>
                <p>Potenti elit lectus augue eget iaculis vitae etiam, ullamcorper etiam bibendum ad feugiat magna accumsan dolor, nibh molestie cras hac ac ad massa, fusce ante convallis ante urna molestie vulputate bibendum tempus ante justo arcu erat accumsan adipiscing risus, libero condiment um venenatis sit nisl nisi ultricies sed, fames aliquet consectetur consequat nostra molestie neque nullam scelerisque neque commodo turpis quis.</p>
            </div>
        </div>        
        <div class="col-md-5 col-sm-12 col-lg-5">
            <div class="widget grd pad50-40">
                <h4>Paragraphs</h4>
                <span>Style of Default Paragraphs</span>
                <p>Potenti elit lectus augue eget ia massa, fusce ante convallis ante um venenatis sit nisl nisi ultricie quisque etiam egestas vulputat putate nisi viverra.</p>
            </div>
        </div>
        <div class="col-md-7 col-sm-12 col-lg-7">
            <div class="widget grd pad50">
                <h4>Paragraphs</h4>
                <span>This is the style of Default Paragraphs</span>
                <p>Potenti elit lectus augue eget iaculis vitae etiam, ullamcorper etiam bibendum ad feugiat magna accumsan dolor, nibh molestie cras hac ac ad massa, fusce ante convallis ante urna molestie vulputate</p>
            </div>
        </div>
    </div>
</div><!-- Panel Content -->