<div class="pg-tp">
    <i class="ion-cube"></i>
    <div class="pr-tp-inr">
        <h4>Inbox</h4>
        <span>Management of your emails.</span>
    </div>
</div><!-- Page Top -->

<div class="panel-content">
    <div class="widget pad0">
        <div class="mail-setting-wrp">
            <div class="row mrg">
                <div class="col-md-4 col-sm-6 col-lg-4">
                    <div class="mail-prf-opt">
                        <div class="mail-usr" style="background: url(images/usr-bg-img.jpg);">
                            <img class="brd-rd50" src="images/resource/prf-img1.jpg" alt="" />
                            <h3>John Smith</h3>
                            <span>Project Manager</span>
                        </div>
                        <div class="mail-prf-inr">
                            <a class="brd-rd5 green-bg" href="#" title=""><i class="fa fa-envelope-o"></i> Compose</a>
                            <div class="mail-opt">
                                <h3>Mailboxes</h3>
                                <ul>
                                    <li><a href="#" title=""><i class="fa fa-envelope-o"></i> Inbox <span class="green-clr">(5)</span></a></li>
                                    <li><a href="#" title=""><i class="fa fa-pencil-square-o"></i> Draft</a></li>
                                    <li><a href="#" title=""><i class="fa fa-star"></i> Starred</a></li>
                                    <li><a href="#" title=""><i class="fa fa-paper-plane"></i> Sent Messages</a></li>
                                    <li><a href="#" title=""><i class="fa fa-life-ring"></i> Spam</a></li>
                                    <li><a href="#" title=""><i class="fa fa-trash-o"></i> Delete</a></li>
                                </ul>
                            </div>
                            <div class="mail-opt">
                                <h3>Folders</h3>
                                <ul>
                                    <li><a href="#" title=""><i class="fa fa-folder-o"></i> Work</a></li>
                                    <li><a href="#" title=""><i class="fa fa-folder-o"></i> Personal</a></li>
                                </ul>
                            </div>
                            <div class="mail-opt">
                                <h3>Options</h3>
                                <ul>
                                    <li><a href="#" title=""><i class="fa fa-database"></i> Manage Folders</a></li>
                                    <li><a href="#" title=""><i class="fa fa-phone"></i> Contacts</a></li>
                                    <li><a href="#" title=""><i class="fa fa-cog"></i> Settings</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-sm-12 col-lg-8">
                    <div class="inbox-wrp">
                        <div class="inbox-head">
                            <div class="inbox-sts">
                                <h5>1-10 <span>from</span> 23</h5>
                                <div class="inbx-opt-lst">
                                    <span><a href="#" title=""><i class="fa fa-angle-left"></i></a><a href="#" title=""><i class="fa fa-angle-right"></i></a></span>
                                    <span><a href="#" title=""><i class="fa fa-refresh"></i></a></span>
                                    <span><a href="#" title=""><i class="fa fa-arrows-alt"></i></a></span>
                                </div>
                            </div>
                            <form class="inbox-srch">
                                <input type="text" placeholder="Enter Your Keyword For Email Search..." />
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </form>
                            <div class="inbox-btns">
                                <a class="brd-rd5" href="#" title=""><i class="fa fa-archive blue-clr"></i> Archive</a>
                                <a class="brd-rd5" href="#" title=""><i class="fa fa-star text-warning"></i> Star</a>
                                <a class="brd-rd5 pull-right" href="#" title=""><i class="fa fa-trash-o text-danger"></i> Delete</a>
                            </div>
                        </div>
                        <div class="inbox-inr">
                            <div class="inbox-lst">
                                <div class="inbox-pst">
                                    <span class="chck-bx">
                                        <input id="mail1" type="checkbox">
                                        <label for="mail1"></label>
                                    </span>
                                    <h5 class="sndr-nm">Barlina Maze</h5>
                                    <div class="mal-ttl">
                                        <h4><a href="#" title="">Welcome To Our Services</a></h4>
                                        <span>By checking this box and continuing.</span>
                                    </div>
                                    <i class="snd-tm">1 Hour Ago</i>
                                </div>
                                <div class="inbox-pst">
                                    <span class="chck-bx">
                                        <input id="mail2" type="checkbox">
                                        <label for="mail2"></label>
                                    </span>
                                    <h5 class="sndr-nm">Darlina Jaze</h5>
                                    <div class="mal-ttl">
                                        <h4><a href="#" title="">Action Required for your acount!</a></h4>
                                        <span>By checking this box and continuing.</span>
                                    </div>
                                    <i class="snd-tm">Oct 3, 2017</i>
                                </div>
                                <div class="inbox-pst">
                                    <span class="chck-bx">
                                        <input id="mail3" type="checkbox">
                                        <label for="mail3"></label>
                                    </span>
                                    <h5 class="sndr-nm">John Doe</h5>
                                    <div class="mal-ttl">
                                        <h4><a href="#" title="">Your subscription was updated</a></h4>
                                        <span>By checking this box and continuing.</span>
                                    </div>
                                    <i class="snd-tm">Oct 3, 2017</i>
                                </div>
                                <div class="inbox-pst">
                                    <span class="chck-bx">
                                        <input id="mail4" type="checkbox">
                                        <label for="mail4"></label>
                                    </span>
                                    <h5 class="sndr-nm">Barlina Maze</h5>
                                    <div class="mal-ttl">
                                        <h4><a href="#" title="">New Photo Pack!</a></h4>
                                        <span>By checking this box and continuing.</span>
                                    </div>
                                    <i class="snd-tm">Oct 3, 2017</i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- Panel Content -->