<div class="pg-tp">
    <i class="ion-cube"></i>
    <div class="pr-tp-inr">
        <h4>Invoice Style</h4>
        <span>You can easily style a invoice.</span>
    </div>
</div><!-- Page Top -->

<div class="panel-content">
    <div class="widget pad50-65">
        <div class="invoice-wrp">
            <div class="invoice-hd">
                <div class="logo"><h1><a href="#" title=""><img src="images/logo1.png" alt="" /></a></h1></div>
                <h1 class="green-clr">Invoice</h1>
            </div>
            <div class="invoice-dte">
                <span>Invoice No: <i>#225489</i></span>
                <span>Date: <i>19 August 2017</i></span>
                <a class="blue-bg brd-rd5" href="#" title=""><i class="ion-android-download"></i> Download</a>
            </div>
            <div class="invoice-inf">
                <div class="inf-inr inf-frm">
                    <h4>From</h4>
                    <span>Company Name: <i class="green-clr">Mega Stack</i></span>
                    <span>Address: <i>XYZ</i></span>
                    <span>Phone: <i>+461 25 6115 45</i></span>
                    <span>FAX: <i>1234 5678 90</i></span>
                    <span>Payment Due: <i class="blue-clr">22/12/2017</i></span>
                </div>
                <div class="inf-inr inf-to">
                    <h4>To</h4>
                    <span>Your Name: <i class="blue-clr">Jhon Doe</i></span>
                    <span>Address: <i>XYZ</i></span>
                    <span>Phone: <i>+461 25 6115 45</i></span>
                    <span>FAX: <i>1234 5678 90</i></span>
                </div>
            </div>
            <div class="invoice-table">
                <table class="table table-bordered">
                    <thead class="table-inverse">
                        <tr><th><span>Inv.no.</span></th><th><span>Date</span></th><th><span>Description</span></th><th><span>Quantity</span></th><th><span>Total</span></th></tr>
                    </thead>
                    <tbody>
                        <tr><td><span>#592101</span></td><td><span>24 August 2017</span></td><td><span>20 inch Philips LCD Black color monitor</span></td><td><span>1</span></td><td><span>$100</span></td></tr>
                        <tr><td><span>#592102</span></td><td><span>28 August 2017</span></td><td><span>Apple Mac book pro 15" Retina Display</span></td><td><span>1</span></td><td><span>$200</span></td></tr>
                        <tr><td><span>#592103</span></td><td><span>29 August 2017</span></td><td><span>Apple Magic Mouse</span></td><td><span>3</span></td><td><span>$1500</span></td></tr>
                    </tbody>
                </table>
            </div>
            <div class="invoice-total">
                <div class="invoice-total-iner">
                    <span>Sub Total: <i>$1800</i></span>
                    <span>TAX/VAT: <i>$25.6</i></span>
                </div>
                <div class="invc-total">
                    <span>TOTAL: <i>$1825.6</i></span>
                </div>
            </div>
            <p class="note"><span>Note:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </div>
</div><!-- Panel Content -->