<div class="pg-tp">
    <i class="ion-cube"></i>
    <div class="pr-tp-inr">
        <h4>List Group</h4>
        <span>Some of extra awesome List Group.</span>
    </div>
</div><!-- Page Top -->

<div class="panel-content">
    <div class="row mrg20">
        <div class="col-md-6 col-sm-12 col-lg-6">
            <div class="widget pad40">
                <div class="widget-title2">
                    <h4>Active Items</h4>
                </div>
                <ul class="list-group">
                    <li class="list-group-item active">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-lg-6">
            <div class="widget pad40">
                <div class="widget-title2">
                    <h4>Disabled Items</h4>
                </div>
                <ul class="list-group">
                    <li class="list-group-item disabled">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-lg-6">
            <div class="widget pad40">
                <div class="widget-title2">
                    <h4>Links and Buttons</h4>
                </div>
                <div class="list-group">
                    <a href="#" class="list-group-item active">Cras justo odio</a>
                    <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                    <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
                    <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
                    <a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at eros</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-lg-6">
            <div class="widget pad40">
                <div class="widget-title2">
                    <h4>Disabled Links and Buttons</h4>
                </div>
                <div class="list-group">
                    <button type="button" class="list-group-item list-group-item-action active">Cras justo odio</button>
                    <button type="button" class="list-group-item list-group-item-action">Dapibus ac facilisis in</button>
                    <button type="button" class="list-group-item list-group-item-action">Morbi leo risus</button>
                    <button type="button" class="list-group-item list-group-item-action">Porta ac consectetur ac</button>
                    <button type="button" class="list-group-item list-group-item-action" disabled>Vestibulum at eros</button>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-lg-6">
            <div class="widget pad40">
                <div class="widget-title2">
                    <h4>Contextual Classes</h4>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item list-group-item-success">Dapibus ac facilisis in</li>
                    <li class="list-group-item list-group-item-info">Cras sit amet nibh libero</li>
                    <li class="list-group-item list-group-item-warning">Porta ac consectetur ac</li>
                    <li class="list-group-item list-group-item-danger">Vestibulum at eros</li>
                </ul>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-lg-6">
            <div class="widget pad40">
                <div class="widget-title2">
                    <h4>Contextual Classes With Links and Buttons</h4>
                </div>
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                    <a href="#" class="list-group-item list-group-item-action list-group-item-success">Dapibus ac facilisis in</a>
                    <a href="#" class="list-group-item list-group-item-action list-group-item-info">Cras sit amet nibh libero</a>
                    <a href="#" class="list-group-item list-group-item-action list-group-item-warning">Porta ac consectetur ac</a>
                    <a href="#" class="list-group-item list-group-item-action list-group-item-danger">Vestibulum at eros</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-lg-6">
            <div class="widget pad40">
                <div class="widget-title2">
                    <h4>With Badgess</h4>
                </div>
                <ul class="list-group">
                    <li class="list-group-item justify-content-between">Cras justo odio <span class="badge badge-default badge-pill">14</span></li>
                    <li class="list-group-item justify-content-between">Dapibus ac facilisis in <span class="badge badge-default badge-pill">2</span></li>
                    <li class="list-group-item justify-content-between">Morbi leo risus <span class="badge badge-default badge-pill">1</span></li>
                </ul>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-lg-6">
            <div class="widget pad40">
                <div class="widget-title2">
                    <h4>Custom Content</h4>
                </div>
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">List group item heading</h5>
                            <small>3 days ago</small>
                        </div>
                        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                        <small>Donec id elit non mi porta.</small>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">List group item heading</h5>
                            <small class="text-muted">3 days ago</small>
                        </div>
                        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                        <small class="text-muted">Donec id elit non mi porta.</small>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">List group item heading</h5>
                            <small class="text-muted">3 days ago</small>
                        </div>
                        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                        <small class="text-muted">Donec id elit non mi porta.</small>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div><!-- Panel Content -->