<div class="pg-tp">
    <i class="ion-cube"></i>
    <div class="pr-tp-inr">
        <h4>Live Chat</h4>
        <span>Some of extra awesome Live Chat style.</span>
    </div>
</div><!-- Page Top -->

<div class="panel-content">
    <div class="widget chat-wdgt pad50-40">
        <h4 class="widget-title blue-bg">Live Chat 
            <div class="slct-bx">
                <span>
                    <select>
                        <option>Add More Friends</option>
                        <option>John Doe</option>
                        <option>Kim Smith</option>
                        <option>John Smith</option>
                        <option>Kim Doe</option>
                    </select>
                </span>
            </div>
        </h4>
        <div class="caht-wrp">
            <div class="chat-lst">
                <div class="chat-msg yur-msg">
                    <img class="brd-rd50" src="images/resource/acti-thmb1.jpg" alt="" />
                    <div class="msg-inf2">
                        <h5>John Doe</h5> <span class="msg-tm"><i class="ion-clock"></i> Today 2:10 pm</span>
                        <p>Aenean massa. Cum sociis natoque penatibus et mag nis dis parturient montes, nascetur ridiculus mus. Do nec quam felis. Aliquam archite cto beatae cupiditate delectus dicta dolores doloribus eaque eos esse excepturi expedita illum inventore ipsam iste iusto laudantium libero magnam maiores maxime minima mollitia odio officia omnis optio porro possimus quaerat quam.</p>
                        <div class="snd-fl">
                            <div class="fl-itm brd-rd5">
                                <img class="brd-rd5" src="images/resource/fl-img1.png" alt="" />
                                <span>report-2013-web-development</span>
                            </div>
                        </div>
                        <div class="act-pst-lk-stm">
                            <a href="#" title="" class="brd-rd5 green-bg-hover">Save</a>
                            <a href="#" title="" class="brd-rd5 blue-bg-hover">Cancel</a>
                        </div>
                    </div>
                </div>
                <div class="chat-msg frnd-msg">
                    <img class="brd-rd50" src="images/resource/acti-thmb2.jpg" alt="" />
                    <div class="msg-inf2">
                        <h5>Kim Smith</h5> <span class="msg-tm"><i class="ion-clock"></i> Today 2:10 pm</span>
                        <p>Aenean massa. Cum sociis natoque penatibus et mag nis dis parturient montes, nascetur ridiculus mus. Do nec quam felis, ultricies nec.</p>
                    </div>
                </div>
            </div>
            <form class="chat-frm">
                <textarea class="brd-rd5" placeholder="Message"></textarea>
                <button class="brd-rd5 blue-bg">Send Message</button>
                <ul class="snd-opts">
                    <li>
                        <label class="fileContainer">
                            <i class="ion-paperclip"></i>
                            <input type="file" />
                        </label>
                    </li>
                    <li>
                        <label class="fileContainer">
                            <i class="ion-android-camera"></i>
                            <input type="file" />
                        </label>
                    </li>
                    <li>
                        <div class="snd-emjs brd-rd5">
                            <a href="#" title=""><i class="ion-happy"></i></a>
                            <div class="emj-lst brd-rd5">
                                <a href="#" title=""><i class="ion-happy"></i></a>
                                <a href="#" title=""><i class="ion-android-sad"></i></a>
                                <a href="#" title=""><i class="ion-heart-broken"></i></a>
                                <a href="#" title=""><i class="ion-icecream"></i></a>
                                <a href="#" title=""><i class="ion-ios-americanfootball"></i></a>
                                <a href="#" title=""><i class="ion-ios-baseball"></i></a>
                                <a href="#" title=""><i class="ion-ios-bell"></i></a>
                                <a href="#" title=""><i class="ion-ios-body"></i></a>
                                <a href="#" title=""><i class="ion-ios-flame"></i></a>
                                <a href="#" title=""><i class="ion-ios-flower"></i></a>
                                <a href="#" title=""><i class="ion-ios-football"></i></a>
                                <a href="#" title=""><i class="ion-ios-glasses"></i></a>
                                <a href="#" title=""><i class="ion-ios-heart"></i></a>
                                <a href="#" title=""><i class="ion-ios-lightbulb"></i></a>
                                <a href="#" title=""><i class="ion-ios-location"></i></a>
                            </div>
                        </div>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div><!-- Panel Content -->