<div class="pg-tp">
    <i class="ion-cube"></i>
    <div class="pr-tp-inr">
        <h4>Order Received</h4>
        <span>Some of extra awesome Order Received.</span>
    </div>
</div><!-- Page Top -->

<div class="panel-content">
    <div class="widget pad50-65 mb150">
        <div class="ord-rcvd">
            <i class="fa fa-check blue-bg brd-rd50"></i>
            <div class="ord-rcvd-inr">
                <h4>Thank You</h4>
                <p>Your Order has been received.</p>
            </div>
        </div>
    </div>
</div><!-- Panel Content -->