<div class="pg-tp">
    <i class="ion-cube"></i>
    <div class="pr-tp-inr">
        <h4>Pricing Table</h4>
        <span>Some of extra awesome Pricing Table Style.</span>
    </div>
</div><!-- Page Top -->

<div class="panel-content">
    <div class="widget pad50-65">
        <div class="pckg-wrp">
            <div class="row mrg">
                <div class="col-md-4 col-sm-6 col-lg-4">
                    <div class="pckg-bx brd-rd5">
                        <div class="pckg-hed">
                            <strong><sup class="green-clr">$</sup>55</strong>
                            <span>Ultimate Plan</span>
                            <i class="green-clr">Per Month</i>
                        </div>
                        <div class="pckg-bdy">
                            <ul>
                                <li><span>Ultimited Pages</span></li>
                                <li><span>Support 27/7</span></li>
                                <li><span>Free Registration</span></li>
                                <li><span>Dedicated IP</span></li>
                                <li><span>SSL Security</span></li>
                            </ul>
                            <a class="blue-bg brd-rd5" href="#" title="">Purchase Plan</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-lg-4">
                    <div class="pckg-bx green-bg slctd brd-rd5">
                        <div class="pckg-hed">
                            <strong><sup>$</sup>80</strong>
                            <span>Business Plan</span>
                            <i>Per Month</i>
                        </div>
                        <div class="pckg-bdy">
                            <ul>
                                <li><span>Ultimited Pages</span></li>
                                <li><span>Support 27/7</span></li>
                                <li><span>Free Registration</span></li>
                                <li><span>Dedicated IP</span></li>
                                <li><span>SSL Security</span></li>
                                <li><span>Unlimited Projects</span></li>
                            </ul>
                            <a class="brd-rd5" href="#" title="">Purchase Plan</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-lg-4">
                    <div class="pckg-bx brd-rd5">
                        <div class="pckg-hed">
                            <strong><sup class="green-clr">$</sup>120</strong>
                            <span>Platinum Plan</span>
                            <i class="green-clr">Per Month</i>
                        </div>
                        <div class="pckg-bdy">
                            <ul>
                                <li><span>Ultimited Pages</span></li>
                                <li><span>Support 27/7</span></li>
                                <li><span>Free Registration</span></li>
                                <li><span>Dedicated IP</span></li>
                                <li><span>SSL Security</span></li>
                            </ul>
                            <a class="blue-bg brd-rd5" href="#" title="">Purchase Plan</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- Panel Content -->