<div class="pg-tp">
    <i class="ion-cube"></i>
    <div class="pr-tp-inr">
        <h4>Products</h4>
        <span>Management of products</span>
    </div>
</div><!-- Page Top -->

<div class="panel-content">
    <div class="widget pad50-65">
        <div class="widget-title2">
            <h4>Products Style 1</h4>
            <span>We are going to present eCommerce Products.</span>
        </div>
        <div class="rmv-ext">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-lg-4">
                    <div class="prd-bx">
                        <img class="brd-rd5" src="images/resource/prod-img1.jpg" alt="" />
                        <div class="prd-inf">
                            <h4><a href="#" title="">Classic Jeans Beta</a></h4>
                            <span class="ratings">
                                <i class="fa fa-star on"></i>
                                <i class="fa fa-star on"></i>
                                <i class="fa fa-star on"></i>
                                <i class="fa fa-star on"></i>
                                <i class="fa fa-star off"></i>
                            </span>
                            <a class="rev-btn" href="#" title="">3 Review(s)</a>
                            <span class="price">$49.99</span>
                            <a class="green-bg brd-rd5 cart-btn" href="#" title=""><i class="fa fa-shopping-bag"></i> Add To Cart</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-lg-4">
                    <div class="prd-bx">
                        <img class="brd-rd5" src="images/resource/prod-img2.jpg" alt="" />
                        <div class="prd-inf">
                            <h4><a href="#" title="">Classic Jeans Gamma</a></h4>
                            <span class="ratings">
                                <i class="fa fa-star on"></i>
                                <i class="fa fa-star on"></i>
                                <i class="fa fa-star on"></i>
                                <i class="fa fa-star off"></i>
                                <i class="fa fa-star off"></i>
                            </span>
                            <a class="rev-btn" href="#" title="">5 Review(s)</a>
                            <span class="price">$39.99</span>
                            <a class="green-bg brd-rd5 cart-btn" href="#" title=""><i class="fa fa-shopping-bag"></i> Add To Cart</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-lg-4">
                    <div class="prd-bx">
                        <img class="brd-rd5" src="images/resource/prod-img3.jpg" alt="" />
                        <div class="prd-inf">
                            <h4><a href="#" title="">Classic Jeans Alpha</a></h4>
                            <span class="ratings">
                                <i class="fa fa-star on"></i>
                                <i class="fa fa-star on"></i>
                                <i class="fa fa-star on"></i>
                                <i class="fa fa-star on"></i>
                                <i class="fa fa-star on"></i>
                            </span>
                            <a class="rev-btn" href="#" title="">10 Review(s)</a>
                            <span class="price">$22.99</span>
                            <a class="green-bg brd-rd5 cart-btn" href="#" title=""><i class="fa fa-shopping-bag"></i> Add To Cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="widget pad50-65">
        <div class="widget-title2">
            <h4>Products Style 2</h4>
            <span>We are going to present eCommerce Products.</span>
        </div>
        <div class="rmv-ext">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-lg-4">
                    <div class="prd-bx text-center">
                        <img class="brd-rd5" src="images/resource/prod-img4.jpg" alt="" />
                        <div class="prd-inf">
                            <h4><a href="#" title="">Classic Jeans Beta</a></h4>
                            <span class="ratings">
                                <i class="fa fa-star on"></i>
                                <i class="fa fa-star on"></i>
                                <i class="fa fa-star on"></i>
                                <i class="fa fa-star on"></i>
                                <i class="fa fa-star off"></i>
                            </span>
                            <a class="rev-btn" href="#" title="">3 Review(s)</a>
                            <span class="price">$49.99</span>
                            <a class="green-bg brd-rd5 cart-btn" href="#" title=""><i class="fa fa-shopping-bag"></i> Add To Cart</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-lg-4">
                    <div class="prd-bx text-center">
                        <img class="brd-rd5" src="images/resource/prod-img5.jpg" alt="" />
                        <div class="prd-inf">
                            <h4><a href="#" title="">Classic Jeans Gamma</a></h4>
                            <span class="ratings">
                                <i class="fa fa-star on"></i>
                                <i class="fa fa-star on"></i>
                                <i class="fa fa-star on"></i>
                                <i class="fa fa-star off"></i>
                                <i class="fa fa-star off"></i>
                            </span>
                            <a class="rev-btn" href="#" title="">5 Review(s)</a>
                            <span class="price">$39.99</span>
                            <a class="green-bg brd-rd5 cart-btn" href="#" title=""><i class="fa fa-shopping-bag"></i> Add To Cart</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-lg-4">
                    <div class="prd-bx text-center">
                        <img class="brd-rd5" src="images/resource/prod-img6.jpg" alt="" />
                        <div class="prd-inf">
                            <h4><a href="#" title="">Classic Jeans Alpha</a></h4>
                            <span class="ratings">
                                <i class="fa fa-star on"></i>
                                <i class="fa fa-star on"></i>
                                <i class="fa fa-star on"></i>
                                <i class="fa fa-star on"></i>
                                <i class="fa fa-star on"></i>
                            </span>
                            <a class="rev-btn" href="#" title="">10 Review(s)</a>
                            <span class="price">$22.99</span>
                            <a class="green-bg brd-rd5 cart-btn" href="#" title=""><i class="fa fa-shopping-bag"></i> Add To Cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- Panel Content -->