<div class="pg-tp">
    <i class="ion-cube"></i>
    <div class="pr-tp-inr">
        <h4>Progress Bars</h4>
        <span>Some of extra awesome Progress Bars style.</span>
    </div>
</div><!-- Page Top -->

<div class="panel-content">
    <div class="widget pad50-65">
        <div class="widget-title2">
            <h4>Default Progress Bars</h4>
        </div>
        <div class="prg-brs styl1">
            <div class="progress">
                <div class="progress-bar" style="width: 80%;"></div>
            </div>
            <div class="progress">
                <div class="progress-bar green-bg" style="width: 70%;"></div>
            </div>
            <div class="progress">
                <div class="progress-bar blue-bg" style="width: 60%;"></div>
            </div>
            <div class="progress">
                <div class="progress-bar bg-success" style="width: 60%;"></div>
            </div>
            <div class="progress">
                <div class="progress-bar bg-info" style="width: 70%;"></div>
            </div>
            <div class="progress">
                <div class="progress-bar bg-warning" style="width: 80%;"></div>
            </div>
            <div class="progress">
                <div class="progress-bar bg-danger" style="width: 90%;"></div>
            </div>
        </div>
    </div>
    <div class="widget pad50-65">
        <div class="widget-title2">
            <h4>No Radius Progress Bars</h4>
        </div>
        <div class="prg-brs styl1">
            <div class="progress brd-rd0">
                <div class="progress-bar blue-bg" style="width: 80%;"></div>
            </div>
            <div class="progress brd-rd0">
                <div class="progress-bar green-bg" style="width: 70%;"></div>
            </div>
            <div class="progress brd-rd0">
                <div class="progress-bar" style="width: 60%;"></div>
            </div>
            <div class="progress brd-rd0">
                <div class="progress-bar bg-success" style="width: 60%;"></div>
            </div>
            <div class="progress brd-rd0">
                <div class="progress-bar bg-info" style="width: 70%;"></div>
            </div>
            <div class="progress brd-rd0">
                <div class="progress-bar bg-warning" style="width: 80%;"></div>
            </div>
            <div class="progress brd-rd0">
                <div class="progress-bar bg-danger" style="width: 90%;"></div>
            </div>
        </div>
    </div>
    <div class="widget pad50-65">
        <div class="widget-title2">
            <h4>30px Radius Progress Bars</h4>
        </div>
        <div class="prg-brs styl1">
            <div class="progress brd-rd30">
                <div class="progress-bar blue-bg" style="width: 80%;"></div>
            </div>
            <div class="progress brd-rd30">
                <div class="progress-bar green-bg" style="width: 70%;"></div>
            </div>
            <div class="progress brd-rd30">
                <div class="progress-bar" style="width: 60%;"></div>
            </div>
            <div class="progress brd-rd30">
                <div class="progress-bar bg-success" style="width: 60%;"></div>
            </div>
            <div class="progress brd-rd30">
                <div class="progress-bar bg-info" style="width: 70%;"></div>
            </div>
            <div class="progress brd-rd30">
                <div class="progress-bar bg-warning" style="width: 80%;"></div>
            </div>
            <div class="progress brd-rd30">
                <div class="progress-bar bg-danger" style="width: 90%;"></div>
            </div>
        </div>
    </div>    
    <div class="widget pad50-65">
        <div class="widget-title2">
            <h4>Progress Bars With Labels</h4>
        </div>
        <div class="prg-brs styl1">
            <div class="progress brd-rd0">
                <div class="progress-bar blue-bg" style="width: 60%;">60%</div>
            </div>
            <div class="progress brd-rd0">
                <div class="progress-bar green-bg" style="width: 70%;">70%</div>
            </div>
            <div class="progress brd-rd0">
                <div class="progress-bar" style="width: 80%;">80%</div>
            </div>
        </div>
    </div>
    <div class="widget pad50-65">
        <div class="widget-title2">
            <h4>Progress Bars With Strips</h4>
        </div>
        <div class="prg-brs styl1">
            <div class="progress">
                <div class="progress-bar progress-bar-striped" style="width: 80%;"></div>
            </div>
            <div class="progress">
                <div class="progress-bar progress-bar-striped green-bg" style="width: 70%;"></div>
            </div>
            <div class="progress">
                <div class="progress-bar progress-bar-striped blue-bg" style="width: 60%;"></div>
            </div>
            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-success" style="width: 60%;"></div>
            </div>
            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-info" style="width: 70%;"></div>
            </div>
            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-warning" style="width: 80%;"></div>
            </div>
            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-danger" style="width: 90%;"></div>
            </div>
        </div>
    </div>
    <div class="widget pad50-65">
        <div class="widget-title2">
            <h4>Progress Bars With Animated Strips</h4>
        </div>
        <div class="prg-brs styl1">
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 80%;"></div>
            </div>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated green-bg" style="width: 70%;"></div>
            </div>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated blue-bg" style="width: 60%;"></div>
            </div>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" style="width: 60%;"></div>
            </div>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" style="width: 70%;"></div>
            </div>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" style="width: 80%;"></div>
            </div>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" style="width: 90%;"></div>
            </div>
        </div>
    </div>
</div><!-- Panel Content -->