<div class="pg-tp">
    <i class="ion-cube"></i>
    <div class="pr-tp-inr">
        <h4>Typography</h4>
        <span>Management of Heading and Paragraph.</span>
    </div>
</div><!-- Page Top -->

<div class="panel-content">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-lg-12">
            <div class="widget pad50-40">
                <div class="widget-title2">
                    <h4>Headings</h4>
                    <span>Use tags <code class="brd-rd5 green-clr">&lt;h1 to h6&gt;</code> for get desire heading</span>
                </div>
                <div class="hed-dta">
                    <h1>h1. Bootstrap heading</h1>
                    <h2>h2. Bootstrap heading</h2>
                    <h3>h3. Bootstrap heading</h3>
                    <h4>h4. Bootstrap heading</h4>
                    <h5>h5. Bootstrap heading</h5>
                    <h6>h6. Bootstrap heading</h6>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-lg-12">
            <div class="widget pad50-40">
                <div class="widget-title2">
                    <h4>Headings</h4>
                    <span>Use tags <code class="brd-rd5 green-clr">&lt;h1 to h6&gt;</code> for get desire heading</span>
                </div>
                <div class="hed-dta">
                    <h1>h1. Bootstrap heading <small>Sub-heading</small></h1>
                    <h2>h2. Bootstrap heading <small>Sub-heading</small></h2>
                    <h3>h3. Bootstrap heading <small>Sub-heading</small></h3>
                    <h4>h4. Bootstrap heading <small>Sub-heading</small></h4>
                    <h5>h5. Bootstrap heading <small>Sub-heading</small></h5>
                    <h6>h6. Bootstrap heading <small>Sub-heading</small></h6>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-lg-6">
            <div class="widget pad50-40">
                <div class="widget-title2">
                    <h4>Unordered List</h4>
                    <span>This is Unordered List style.</span>
                </div>
                <ul>
                    <li>Consectetur adipiscing elit sed.</li>
                    <li>Tempor incididunt ut labore.</li>
                    <li>Aliqua ut enim ad minim.</li>
                    <li>Nostrud exercitation ullamco.
                        <ul>
                            <li>Consectetur adipiscing elit sed.</li>
                            <li>Tempor incididunt ut labore.</li>
                            <li>Aliqua ut enim ad minim.</li>
                            <li>Nostrud exercitation ullamco.</li>
                        </ul>
                    </li>
                    <li>Consectetur adipiscing elit sed.</li>
                    <li>Tempor incididunt ut labore.</li>
                    <li>Aliqua ut enim ad minim.</li>
                    <li>Nostrud exercitation ullamco.</li>
                </ul>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-lg-6">
            <div class="widget pad50-40">
                <div class="widget-title2">
                    <h4>Ordered List</h4>
                    <span>This is Ordered List style.</span>
                </div>
                <ol>
                    <li>Consectetur adipiscing elit sed.</li>
                    <li>Tempor incididunt ut labore.</li>
                    <li>Aliqua ut enim ad minim.</li>
                    <li>Nostrud exercitation ullamco.
                        <ol>
                            <li>Consectetur adipiscing elit sed.</li>
                            <li>Tempor incididunt ut labore.</li>
                            <li>Aliqua ut enim ad minim.</li>
                            <li>Nostrud exercitation ullamco.</li>
                        </ol>
                    </li>
                    <li>Consectetur adipiscing elit sed.</li>
                    <li>Tempor incididunt ut labore.</li>
                    <li>Aliqua ut enim ad minim.</li>
                    <li>Nostrud exercitation ullamco.</li>
                </ol>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-lg-6">
            <div class="widget pad50-40">
                <div class="widget-title2">
                    <h4>Inline Text Elements</h4>
                    <span>This is inline text elements style.</span>
                </div>
                <div class="inline-inner">
                    <h5>Marked text</h5>
                    <p>You can use the mark tag to <mark class="brd-rd30">highlight</mark> text.</p>
                </div>
                <div class="inline-inner">
                    <h5>Deleted text</h5>
                    <p><del>This line of text is meant to be treated as deleted text</del></p>
                </div>
                <div class="inline-inner">
                    <h5>Underline text</h5>
                    <p><u>This line of text will render as underlined</u></p>
                </div>
                <div class="inline-inner">
                    <h5>Small text</h5>
                    <p><small>This line of text is meant to be treated as fine print.</small></p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-lg-6">
            <div class="widget pad50-40">
                <div class="widget-title2">
                    <h4>Text Colors</h4>
                    <span>This is text color List style with different messages.</span>
                </div>
                <span class="txt-clr text-success">This test has the success color.</span>
                <span class="txt-clr text-info">This test has the info color.</span>
                <span class="txt-clr text-warning">This test has the warning color.</span>
                <span class="txt-clr text-danger">This test has the danger color.</span>
                <span class="txt-clr text-muted">This test has the muted color.</span>
                <div class="badges">
                    <span class="badge badge-primary">Badge Primary</span>
                    <span class="badge badge-success">Badge Success</span>
                    <span class="badge badge-info">Badge Info</span>
                    <span class="badge badge-warning">Badge Warning</span>
                    <span class="badge badge-danger">Badge Danger</span>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-lg-6">
            <div class="widget pad50-40">
                <div class="widget-title2">
                    <h4>Blockquote</h4>
                    <span>This is the style of Default Blockquote</span>
                </div>
                <blockquote class="blockquote">
                    <p class="mb-0">“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.”</p>
                    <span class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></span>
                </blockquote>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-lg-6">
            <div class="widget pad50-40">
                <div class="widget-title2">
                    <h4>Reverse Blockquote</h4>
                    <span>This is the style of Reverse Blockquote</span>
                </div>
                <blockquote class="blockquote blockquote-reverse">
                    <p class="mb-0">“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.”</p>
                    <span class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></span>
                </blockquote>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-lg-12">
            <div class="widget grd pad50-65">
                <h4>Paragraphs</h4>
                <span>This is the style of Default Paragraphs</span>
                <p>Potenti elit lectus augue eget iaculis vitae etiam, ullamcorper etiam bibendum ad feugiat magna accumsan dolor, nibh molestie cras hac ac ad massa, fusce ante convallis ante urna molestie vulputate bibendum tempus ante justo arcu erat accumsan adipiscing risus, libero condiment um venenatis sit nisl nisi ultricies sed, fames aliquet consectetur consequat nostra molestie neque nullam scelerisque neque commodo turpis quisque etiam egestas vulputate massa, curabitur tellus massa venenatis congue dolor enim integer luctus, nisi suscipit gravida fames quis vul putate nisi viverra luctus id leo dictum lorem, inceptos nibh orci.</p>
            </div>
        </div>
    </div>
</div><!-- Panel Content -->