<div class="panel-content">
    <div class="lgn-wrp grysh">
        <div class="bg-img" style="background-image: url(images/resource/bg-img1.png);"></div>
        <div class="container">
            <div class="cmg-sn-wrp mant">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-lg-4">
                        <div class="mnt-mckp">
                            <img src="images/resource/maintenance-mckp.png" alt="" />
                        </div>
                    </div>
                    <div class="col-sm-7 offset-md-1 col-sm-8 offset-sm-0 col-lg-7 offset-lg-1">
                        <div class="cmg-sn-inr">
                            <div class="lgo"><h1><a href="#" title=""><img src="images/logo1.png" alt="" /></a></h1></div>
                            <h2 class="blue-clr">Under Maintenance</h2>
                            <h3>Sorry!</h3>
                            <span>We are Currently Working on this Site.</span>
                            <ul class="tim-remng">
                                <li class="brd-rd5">
                                    <span class="days">00</span>
                                    <p class="days_ref blue-clr">Days</p>
                                </li>
                                <li class="brd-rd5">
                                    <span class="hours">00</span>
                                    <p class="hours_ref blue-clr">Hrs</p>
                                </li>
                                <li class="brd-rd5">
                                    <span class="minutes">00</span>
                                    <p class="minutes_ref blue-clr">Min</p>
                                </li>
                                <li class="brd-rd5">
                                    <span class="seconds">00</span>
                                    <p class="seconds_ref blue-clr">Sec</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!-- Coming Soon Wrap -->
        </div>
        <footer>
          <p>Copyright <a href="#" title="">Example Company</a> &amp; 2017</p>
          <span>10GB of 250GB Free.</span>
        </footer>
    </div><!-- Login Wrapper -->
</div><!-- Panel Content -->